---
layout: default
title: Home
homepage: true
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>GPX4 Community</h1>
        <h2 class="lead">Community of families affected by mutations in GPX4 gene working towards treatment</h2>    
        <a href="mailto:sanath@gpx4.org" class="btn">Join Us</a>
    </div>
</section>

<section class="full-width">
    <div class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <br/>
                    <h3>About GPX4 </h3>
                    <p>
                    GPX4 gene has been recently identified to help cells cope with something called a oxidative stress. It has been identified through experiements that cells cannot survive without GPX4. We don't yet fully understand the impact of a partial loss of GPX4 function. 
                    </p>
                    <br/>
                </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="full-width">
    <div class="beforefooter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h3>Newly Diagnosed?</h3>
                    <p> If you or a loved one were recently diagnosed with a genetic mutation in GPX4, you are not alone. 
                        We are a supportive community of families working towards a treatment.</p>
                    <a class="btn btn-primary btn-lg" href="mailto:sanath@gpx4.org">Reach Out</a>
                </div>
                <!-- <div class="col-md-4 text-right footersocial">
                    <h5>Follow us on social media</h5>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                        <i class="fa fa-google"></i>
                     <i class="fa fa-pinterest"></i>
                     <i class="fa fa-github"></i>
                </div> -->
            </div>
        </div>
    </div>
</section>

{% if false %}
<!-- Featured
================================================== -->

<!-- 
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>
-->

<!-- Posts Index
================================================== -->
<!-- 

{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>All Stories</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div> 

        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>

-->
{% endif %}
